{% extends "base-main.html" %}
{% block title %}Dashboard{% endblock %}
{% block extra_script %}
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script type="text/hyperscript">
  -- behavior + install worked better than func def
  behavior toggle_text
    on click
      if target match .btn-sm or target match input exit end
      toggle .truncated on .body-text in me
      toggle .rotated on .fold-icon in me
    end
  end
</script>
{% endblock %}
{% block content %}
  <div id="dashboard">

    {% for snippet in snippets %}
        {% include "partials/snippet_item.html" %}
    {% else %}
        <div style="text-align: center; padding: 2rem; color: var(--text-color-muted);">
            <p>Nenhum snippet encontrado.</p>
            <button class="btn-sm" hx-get="/snippets/new-form">+ Criar o Primeiro</button>
        </div>
    {% endfor %}

  </div>
    <div id="top-bar">
    <input type="text" id="searchbar" placeholder="🔍 Busca...">
    <button><strong>+</strong> Novo</button>
    <button>&#x25BC; Painel</button>
    <button class="theme-toggle" _="on click toggle @data-theme='dark' on <body/>">&#9728;/&#9790; Tema</button>
  </div>
    <div id="bottom-bar">
    <button href="/redoc//doc">&lt;&lt; endpoints</button>
    <button>Sair</button>
  </div>
{% endblock %}